*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.hero-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

.nav-bar{
    display: flex;
    align-items: center;
    height: 12%;
    background-color: #19212c;
}

.leftside-nav,
.rightside-nav
{
    margin: 0px 150px;
    width: 50%;
}

.leftside-nav>.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.rightside-nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.nav-bar-links{
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    border-radius: 10px;
    text-decoration: none;
}

.nav-bar-links:hover{
    background-color: #E5E7EB;
    color: #1f2937;
}

.hero-content{
    display: flex;
    height: 88%;
    background-color: #1f2937;
}

.leftside-hero-content,
.rightside-hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
}

.leftside-hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 0px 0px 0px 150px; 
}

.hero-heading{
    font-size: 48px;
    font-weight: 900;
}

.hero-para{
    margin-right: 50px;
}

.hero-btn{
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
}

.hero-btn:hover{
    color:#3882F6;
    background-color: #E5E7EB;
    cursor: pointer;
}

.secondary-text
{
    font-size: 18px;
    color: #E5E7EB;
}

.rightside-hero-content{
    margin: 0px 150px 0px 0px;
}

.rightside-hero-content> img{
    width:400px;
}

.about-section{
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.about-heading{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900px;
    color: #1f2937;
}

.about-content{
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 70%;
}

.about-content-boxes{
    display:flex;
    flex-direction: column;
    height: 250px;
    width: 180px;
}

.about-content-boxes-img{
    display: flex;
    justify-content: center;
    height: 60%;
}

.about-content-boxes-img>img{
    object-fit: cover;
}

.about-content-boxes-txt{
    text-align: center;
    margin-top: 20px;
    height: 40%;
    color: black;
}

.motivation-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    padding: 0px 300px;

    background-color: #E5E7EB;
    color: #1f2937;
}






